/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ----------  our csss--------------------- */

* {
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 10%;
  border-color: cadetblue;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: blue;
  line-height: 72px;
}

.header h1 {
  font-size: 30px;
  font-weight: bolder;
  color: chartreuse;
}

.nav a {
  text-decoration: none;
  color: azure;
  font-size: 20px;
  font-weight: bolder;
  padding: 0.5rem;
}

/* body */

.articlesec {
  display: flex;
  padding: 1rem;
}

.col {
  flex: 50%;
}

.col h2 {
  font-size: 3rem;
  font-weight: bold;
}

.col p {
  font-size: 1.1rem;
}

.gallary {
  display: flex;
  flex-wrap: wrap;
}

.gallary img {
  width: 30.33%;

  margin: 1.5%;
  border-radius: 2rem;
}

/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  background-color: darkblue;
  padding: 1rem;
  line-height: 72px;
}

.footer h2 {
  font-size: 2rem;
  font-weight: bold;
}

.a {
  text-decoration: none;
  color: aliceblue;
  font-size: 1rem;
  font-weight: bold;
}
